<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-danger">Technicals List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Technicals" class="btn btn-success form-control text-white">
            Add New Technicals
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-hover table-dark table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NrPersonal</th>
                    <th>Emri</th>
                    <th>Mbiemri</th>
                    <th>Shkollimi</th>
                    <th>Pervoja</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/tech.js"></script>
}
