@model Final___Lab2.Models.Orari

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Orari</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input disabled asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paradite" class="control-label"></label>
                <input asp-for="Paradite" class="form-control" />
                <span asp-validation-for="Paradite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pasdite" class="control-label"></label>
                <input asp-for="Pasdite" class="form-control" />
                <span asp-validation-for="Pasdite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>s
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
