@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="~/3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Analizat</h5>
      <p class="card-text">“The girl dreams she is dangerously ill. Suddenly birds come out of her skin and cover her completely ... Swarms of gnats obscure the sun, the moon, and all the stars except one. That one start falls upon the dreamer.”
― Carl Gustav Jung, Man and His Symbols</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Being thoughtful and accurate is the secret to a good analysis of a quote. Present the quote factually and be mindful of its broader context. Paraphrase the quote, which will convey your understanding of it. Break down elements of the writing style, and consider the importance of the quote to its audience.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Food Healthy</h5>
      <p class="card-text">1. “Eat breakfast like a king, lunch like a prince, and dinner like a pauper.” – Adelle Davis</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
      <img class="card-img-top" src="~/4.jpg" alt="Card image cap">
    <blockquote class="blockquote mb-0">
      <p></p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Vital Food</h5>
      <p class="card-text">“After dinner rest a while; after supper walk a mile.”</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="~/1.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>It seems that we have forgotten the idea that health encompasses not just the absence of physical disease, but involves healthy habits, thoughts, coping mechanisms, and peaceful ways of relating to our environment and to others. At OmBody Health, we’re committed to the vision of holistic health: it can be broken down into parts, but each part is ultimately inextricable from the whole. With this vision in mind, we’ve selected 20 of our favorite quotes to share with others on their journey to a well-balanced life:

 “Health is a state of complete harmony of the body, mind and spirit. When one is free from physical disabilities and mental distractions, the gates of the soul open.” – B.K.S. Iyengar</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
<div class="card">
  <!-- Inner -->
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="~/5.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Stafi</h5>
                <p class="card-text">
                  The roots of all goodness lie in the soil of appreciation for goodness.
–Dalai Lama
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/appoitment.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Appoitment</h5>
                <p class="card-text">
                 Being on time to appointments and meetings is a phase of self-discipline and an evidence of self-respect. Punctuality is a courteous compliment the intelligent person pays to his associates.

                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/feedback.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Feedback</h5>
                <p class="card-text">
                  Fast Feedback & easy to write one! Tell us everything you see.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/pay.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Pagesa</h5>
                <p class="card-text">
                  Pay cash or online, or just wait till you get a wage!
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/6.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Analizat</h5>
                <p class="card-text">
                  Analyse, appraise, define, diagnose, explore, identify, investigate, observe
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/7.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Terapia</h5>
                <p class="card-text">
                  “You don't need treatment. The fever, inflammation, coughing, etc., constitute the healing process. Just get out of their way and permit them to complete their work. Don't try to 'aid' nature.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
@section Styles{
    <link rel="stylesheet" href="~/css/keyframe.css" />
}